version: '3.8'

services:
  backend:
    build:
      context: ./backend
    image: lab7-arsw-backend:latest
    container_name: lab7-arsw-backend
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: "http://localhost:8080"
    image: lab7-arsw-frontend:latest
    container_name: lab7-arsw-frontend
    ports:
      - "4173:4173"
    depends_on:
      - backend
    restart: unless-stopped

networks:
  default:
    driver: bridge
